.menu {
  min-width: 320px;
  max-width: 400px;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
  .button {
    color: gray;
    font-weight: bold;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
  }
  .button--active {
    text-decoration: underline;
    color: rgb(101, 101, 243);
  }
}
