.form_control {
  display: flex;
  flex-direction: row;
}

.card {
  padding: 0px 15px 0px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  .title {
    display: flex;
    flex-direction: row;
    gap: 10px;
    .text {
      width: 250px;
      word-wrap: break-word;
    }
  }
  .control {
    display: flex;
    gap: 10px;
  }
}
