@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

.icon_block {
  display: flex;
  align-items: center;
  margin: 20px 0px 20px 28px;
  .title_icon {
    width: 28px;
    height: 24.07px;
  }
  .title_menu {
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;

    margin-left: 12px;
  }
}

.block_title_crm {
  margin: 20px 0px 20px 32px;

  .title_crm {
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
  }
}
