html,
body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* Padding и border будут включены в заданные значения ширины и высоты. */
}

.ant-table-thead > tr > th {
  color: rgb(113, 113, 113) !important;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
}
.ant-table-tbody > tr > td {
  color: rgb(113, 113, 113);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
}
